
@model Paginacion<prueba.Models.Categoria>


@{
    ViewData["Title"] = "Categoria Cursos";
}

<h2>Proyecto de Categorias</h2>

<p>
    <a asp-action="Create"><button class="btn btn-primary">Nuevo</button></a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            filtro: <input type="text" name="searchString" value="@ViewData["SearchFilter"]" />
            <input type="submit" class="btn btn-success fas fa-search" value="Buscar" />
            <a asp-action="Index">Todos los registros</a>| Registros mostrados
        </p>
    </div>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NombreFilter"]">Nombre</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DescripcionFilter"]">Descripcion</a>

            </th>
            <th>
                Estado
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoriaID" class="btn btn-success"><i class="fas fa-edit"></i></a>
                    <a asp-action="Details" asp-route-id="@item.CategoriaID" class="btn btn-warning"><i class="fas fa-th-list"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.CategoriaID" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index" asp-route-sortOrder="@ViewData["SearchSort"]" asp-route-page="@(Model.PageIndex -1)" asp-route-currentFilter="@ViewData["SearchFilter"]" class="btn btn-default @prevDisabled">
    Anterior
</a>
@for (int i = 1; i <= Model.TotalPages; i++)
{
    <a asp-action="Index" asp-route-sortOrder="@ViewData["SearchSort"]" asp-route-page="@i" asp-route-currentFilter="@ViewData["SearchFilter"]" class="btn btn-default @prevDisabled">
        Anterior
    </a>

}


<a asp-action="Index" asp-route-sortOrder="@ViewData["SearchSort"]" asp-route-page="@(Model.PageIndex +1)" asp-route-currentFilter="@ViewData["SearchFilter"]" class="btn btn-default @nextDisabled">
    Siguiente

</a>




